*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-image: url(Chevrolet\ Corvette\ 1960.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: block;
    margin: 0 auto;
}

.login{
    background-color: rgba(255, 255, 255, 0.5);
}

.formu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}