*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    min-height: 100%;
}

.leftImage{
    flex-basis: 50%;
    background-image: url(signUp.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.singUp{
    flex-basis: 50%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 200px;
    display: block;
    margin: 40px auto;
}

.title{
    color: #cc0000;
    font-family: 'Roboto';
    font-size: 2.5em;
    text-align: center;
    margin: 20px 0;
}

.formu{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container i {
    position: absolute;
    top:40%;
    left: 20px;
}

.input-container input {
    margin: 10px 0;
    width: 400px;
    padding: 0.8rem;
    border-radius: 10px;
    border: 4px #cc0000 solid;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}

.enviar{
    width: 200px;
    margin: 20px auto;
    padding: 0.5rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    background-color: #cc0000;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Open sans';
    text-align: center;
}

input::placeholder{
    padding: 0 25px;
    color: #cc0000;
    font-size: 20px;
    font-family: 'Open sans';
}

input:focus + i{
    display: none;
}

input:valid + i{
    display: none;
    border-color: #008208;
    animation: valid 0.5s normal;
}

@keyframes valid {
    0%{
        border-color: #cc0000;
    }
    100%{
        border-color: #008208;
    }
}

input:focus::placeholder {
    color: transparent;
}

*::selection{
    color: wheat;
    background-color: #cc0000;
}