/* Articles section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jura';
}

/* Show articles styles */

#datos_buscador{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.datos_ordenados{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Searcher styles */

.search{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #1E1E1E;
    outline: 0;
    color: aliceblue;
    font-weight: 500;
    font-size: 1.2em;
}

.search::placeholder{
    color: aliceblue;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.con{
    display: flex;
    justify-content: center;
}

.input-container{
    position: relative;
}

.input-container i {
    position: absolute;
    right: 15px;
    top: 28%;
    padding: 0 10px;
    border-left: 3px solid aliceblue;
}

.articles{
    background-color: #641414;
    padding: 50px 0;
}

.featured{
    font-size: 2em;
    color: aliceblue;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.imgArticle{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    padding: 10px 5px;
}

.card{
    border-radius: 5px;
    background-color: aliceblue;
    margin: 20px 20px;
    max-width: 320px;
    transition: box-shadow 0.3s linear;
}

.card .name{
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
}

.card .price{
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    margin: 5px;
}

.card .stock{
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 5px;
}

.card a{
    display: block;
    width: 100%;
    background-color: #e01111;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.card .fa-solid{
    padding: 0 4px;
}

.card:hover{
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,.3);
}

/* Sort articles styles */

.sort-up{
    margin: 5px 0;
    rotate: calc(180deg);
    height: 40px;
    width: 40px;
}

.sort-down{
    margin: 5px 0;
    height: 40px;
    width: 40px;
}

.mark{
    margin: 5px 0;
    height: 40px;
    width: 40px;
}

::selection{
    background-color: #641414;
    color: aliceblue;
}