/* Footer styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #0C0C0F;
}

.footer .contact{
    font-family: 'Montserrat';
    font-size: 2em;
    color: aliceblue;
    text-align: center;
    margin: 10px;
}

/* CMF 3D logo */

.icon{
    display: inline-block;
    background-size: cover;
    width: 150px;
    height: 100px;
    transition: all 0.4s ease-in-out;
}

.icon-color{
    background-image: url('../../src/images/logo/cmf-3d/white.svg');
}

.icon-color:hover{
    background-image: url('../../src/images/logo/cmf-3d/red.svg');
}

/* Instagram logo */

.ig{
    display: inline-block;
    background-size: cover;
    width: 100px;
    height: 100px;
    transition: all 0.4s ease-in-out;
}

.ig-color{
    background-image: url('../../src/images/logo/instagram/white.svg');
}

.ig-color:hover{
    background-image: url('../../src/images/logo/instagram/second.svg');
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

.info p{
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}