body{
    font-family: 'Montserrat';
    background-color: #0c0c0f;
}

.carritoVacio{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.divisorItem{
    display: block;
    padding: 0.5px;
    background-color: aliceblue;
    margin: 10px auto;
    width: 80%;
    border-radius: 10px;
}

.divisorPrice{
    display: block;
    padding: 0.5px;
    background-color: #0c0c0f;
    margin: 10px auto;
    width: 200px;
    border-radius: 10px;
}

.txt{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carrito{
    width: 200px;
    height: 200px;
}

.carritoVacio p{
    color: aliceblue;
    font-size: 1.5em;
}

.carritoVacio p::after{
    content: " vacío";
    font-weight: 800;
}

.carritoVacio a{
    color: #E01111;
    text-decoration: underline;
    font-size: 1.5em;
    margin-left: 10px;
}

.title{
    border-radius: 5px;
    margin: 0 auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.title p{
    margin: 10px;
    font-weight: 800;
    font-size: 2em;
}

.title a{
    margin: 10px;
}

.articles{
    background-color: aliceblue;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

.articles img{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    padding: 10px 5px;
}

.article{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.add{
    margin: 10px;
    color: #426612;
    padding: 2px 6px;
    border: 3px solid #426612;
}

.counter{
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
    margin: 10px;
}

.sub{
    margin: 10px;
    color: #CC0000;
    padding: 2px 6px;
    border: 3px solid #CC0000;
}

.price{
    font-weight: 700;
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
}

.subtotal{
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
}

.subtotal::before{
    content: "Subtotal : ";
    font-weight: 500;
}

.eliminar{
    color: #0c0c0f;
    text-decoration: underline;
}

.follow{
    color: #0c0c0f;
    text-decoration: underline;
}

.total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    background-color: aliceblue;
    margin: 20px auto;
    border-radius: 5px;
}

.total hr{
    width: 80%;
    background-color: #0c0c0f;
    padding: 0.5px;
}

.total p{
    font-weight: 700;
    text-align: center;
    margin: 10px;
    font-size: 1.2em;
}

.total a{
    background-color: #E01111;
    border-radius: 3px;
    padding: 10px 20px;
    margin:10px 0;
    transition: 0.5s all ease-in-out;
}

.total a:hover{
    background-color: #0c0c0f;
    color: aliceblue;
}

.total p::before{
    content: "Total : ";
    font-weight: 500;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}