*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c0c0F;
}

.picture{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 100%;
}

.send{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 25px;
    border: 3px double aliceblue;
    background-color: #cc0000;
    color: aliceblue;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s all ease-in;
}

.send:hover{
    border: 3px double #cc0000;
    background-color: aliceblue;
    color: #cc0000;
}

.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.userName{
    color: aliceblue;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Montserrat';
    margin: 10px;
}

.editUser{
    overflow: hidden;
    margin: 20px 10px;
    outline: 0;
    border: none;
    background-color: #0c0c0F;
    border-bottom: 4px solid #E01111;
    color: aliceblue;
    padding: 10px 0;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Montserrat';
}

.editUser::placeholder{
    color: aliceblue;
    font-size: 1em;
    font-weight: 600;
}

.cancel{
    margin: 0 20px;
    height: 30px;
    width: 30px;
}

.sendUser{
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid aliceblue;
    background-color: #cc0000;
    color: aliceblue;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
}

::selection{
    color: wheat;
    background-color: #cc0000;
}