*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c0c0F;
}

.content{
    display: flex;
    justify-content: center;
}

.user{
    position: relative;
    display: inline-block;
}

.fa-pencil {
    position: absolute;
    top: 25px;
    right: 20px;
}

.picture{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 10px;
}

::selection{
    color: wheat;
    background-color: #cc0000;
}