*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    color: #cc0000;
    font-family: 'Roboto';
    font-size: 3em;
    text-align: center;
    margin: 40px 0;
}

.title::before{
    content: "¡";
}

.title::after{
    content: "!";
}